# Assignment 2

### Objective:
This assignment aims to equip students with hands-on experience in predictive modeling using real-world clinical data related to heart failure. The students will implement regression and classification techniques to predict the severity of a condition and patient survival outcomes.

### Dataset:
The dataset contains records of 299 patients who suffered heart failure, with 13 clinical features and two target variables: DEATH_EVENT (binary: 0 or 1) and Severity (numerical). You can download the data from the course files section.

### Reference:
Davide Chicco & Giuseppe Jurman (2020): "Machine learning can predict survival of patients with heart failure from serum creatinine and ejection fraction alone", BMC Medical Informatics and Decision Making, 20:16.

## Task 1: Regression Analysis (Predicting Severity)

### 1.1 Data Preparation
- Split the dataset into training (70%) and testing (30%) sets.
- Formulate: Describe the splitting mathematically

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df.head()

# Split the dataset into training (70%) and testing (30%) sets
#x_train, x_test, y_train, y_test = train_test_split(df, )

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [9]:
df_train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

### 1.2 Linear Regression
- Train a Linear Regression model to predict Severity using all available clinical features except DEATH_EVENT.
- Formulate: Write the regression model. Derive the least squares solution.

In [ ]:
df_train_x = df_train.iloc[]